$c-light: #ffffff;
$c-dark: #5f458c;
$c-purple: #a67ee5;

$font: "Proxima Nova", "Arial", sans-serif;
$font-alt: "Radical",  "Arial", sans-serif;

$stop-scaling: 2000px;

$wide-screen: "min-aspect-ratio: 1680/650";

$wider: "min-aspect-ratio: 1441/760";
$narrower: "max-aspect-ratio: 1439/760";

$tablet: 1024px;
$mobile: 768px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$index: 1.38871;

$navigation-duration: 0.35s;
$logo-appearing: 0.5s;
$delay-nav-appearing: $logo-appearing - 0.1s;
$nav-timing-fn: cubic-bezier(0.08, 0.15, 0.02, 1);
